@import url('https://fonts.googleapis.com/css?family=Space+Mono:700|VT323|Walter+Turncoat&display=swap');
* {
    border:1px solid blue;
}
body {
    background-image: url('/img/fabric.jpg');
    color: maroon;
    height: 1500px;
}
.container {
    background-image: url('/img/paper.jpg');
    margin: 4em 3em 3em 3em;
    padding-top: 30px;
    border: 2.5px navajowhite solid;
    min-height: 750px;
}
.btn-new {
    background-color: navajowhite;
    color: navy;
    font-weight: bold;
}
.nav {
    font-family: 'VT323', monospace;
    font-size: 1.5em;
    text-transform: lowercase;
    float: right;
    color: navy;    
}
.text-center {
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    font-size: 3em;
}
input {
    background-color: navy;
    color: ivory;
    border: .5px maroon solid;
    margin: 10px;
    border-radius: 8px;
}

h2 {
    font-size: 1.25em;
    font-family: 'VT323', monospace;
    margin: auto;
}
.tasks {
    font-family: 'Walter Turncoat', cursive;
    list-style: none;
    font-size: 1.5em;
}
.tasks > a:hover {
    color: maroon;
    text-decoration: underline;
    list-style: none;
}
.done {
    text-decoration: line-through;
}
.date-due {
    font-size: .5em;
}
.btn-x {
    width: 1em;
    height: 1em;
}
.confirmDelete {
    visibility: hidden;
}
ul { 
    list-style: none;
}
